body{
	max-width: 1440px;	 
    margin: 0 auto;  
    overflow-x: scroll;
}
/*-------------------header-------------------*/
.header{	
	display: flex;
    justify-content: space-between;
    padding-bottom: 63px;
}
.header__title{
	display: flex;
    justify-content: space-between;
    width: 25%;
    padding-top: 6px;
    padding-left: 52px;
}
.header__logo{
	color: white;
	font: normal 500 30px/100px Montserrat;
	letter-spacing: 0.07em;	
}
.header__language{	    
	color: white;
	font: normal 500 20px Montserrat;	
	padding-top: 37px;
}
.header__menu-icon{
	max-height: 92px;
	max-width: 92px;		
}
/*-------------------main-------------------*/
.main__content{
	display: flex;
    justify-content: center;
    overflow: auto;
}
.main, .header{	
	background: linear-gradient(to right, black 32%, white 32%);
}
.main__photo{
	max-width: 550px;	
	margin-right: 46px;	
}
.main__article{	
	max-width: 475px;	
	padding-top: 25px;	
}
.main__title{
	font: normal bold 80px/82px Montserrat;	
	margin-bottom: 0;
	padding-left: 10px;
}
.main__arrow-down{
	display: none;
}
.main__description{
	display: block;
	font: normal normal 15px/21px Montserrat;	
	max-width: 467px;	
	margin-bottom: 35px;
	padding-left: 10px;	
}
.main__btn{
	display: inline-block;
	background: white;
	border: 1.5px solid #000000;
	max-width: 203px;
    max-height: 44px;
    padding: 18px 39px 12px 40px;
	font: normal 500 13px Montserrat;
	margin-left: 6px;
    margin-right: 29px;	
}
.main__link{
	display: inline-block;
	color: black;
	text-decoration: none;
	font: normal 500 13px Montserrat;
}
.main__arrow{
	margin-left: 14px;
}
.main__footer{
	display: flex;
    justify-content: space-between;
    width: 50%;
	padding: 70px 50px;
}
.main__btn_scroll{
	background: white;
	border: none;	
}
/*-------------------clatch-------------------*/
/*.clatch{
	background: #FAE8E4;
	display: flex;
    justify-content: center;
    padding-top: 167px;
    overflow: auto;
}
.clatch__photo{
	max-width: 664px;
	max-height: 552px;	
    padding: 72px 87px 137px 74px;
}
.clatch__article{
	background: white;
	padding: 7px 66px 44px 54px;
    margin-bottom: 37px;
}
.clatch__title, .total__title{
	font: normal bold 40px/41px Montserrat;
	margin-bottom: 12px;
}
.clatch__subtitle, .total__subtitle{
	font: normal bold 16px/16px Montserrat;
	letter-spacing: 0.07em;
	opacity: 0.5;
	margin:0 0 63px 0;
}
.clatch__description, .total__description{
	font: normal normal 15px/21px Montserrat;
	max-width: 368px;
	opacity: 0.5;
	margin-bottom: 29px;
}
.clatch__detail{
	margin-bottom: 39px;
}
.clatch__detail, .clatch__btns, .total__btns{
	display: flex;
    justify-content: space-between;
    max-width: 368px; 
}
.clatch__gray-point, .clatch__blue-point, 
.clatch__green-point{
	display: inline-block;	
	width: 30.18px;
	height: 30px;	
	border-radius: 50%;
}
.clatch__gray-point{	
	background: #DEDEDE;	
}
.clatch__blue-point{	
	background: #A8BFF9;
}
.clatch__green-point{
	background: #90BD8F;
}
.clatch__pink-point{	
	display: inline-block;
	background: #F29F9F;
	width: 38px;
	height: 38px;
	border-radius: 50%;
}
.clatch__price{
	display: inline-block;
	font: normal bold 40px/56px Montserrat;
	padding: 9px 9px 0 0;
}
.clatch__btn-minus-plus, .total__btn-minus-plus{
	display: inline-flex;
    justify-content: space-around;
	background: white;
	border: 1.5px solid #000000;
	width: 100px;
	height: 44px;
	font: normal 500 15px Montserrat;	
}
.clatch__btn-add, .total__btn-add{	
	background: white;
	border: 1.5px solid #000000;
	width: 253px;
	height: 44px;
	font: normal 500 13px Montserrat;
	padding-right: 12px;
}
.clatch__link, .total__link{
	color: black;
	text-decoration: none;
	font: normal 500 13px/16px Montserrat;
	padding-left: 5px;
}
.clatch__link-icon{
	padding-left: 12px;
    padding-top: 3px;
}*/
/*-------------------total-------------------*/
/*.total, .footer{
	background: linear-gradient(to right, #EBE3D8 27%, black 27%, black 32%, #EBE3D8 32%);
}
.total{
	display: flex;
    justify-content: center;   
    padding-top: 139px;
    overflow: auto;
}
.total__photo{
	max-width: 830px;
	max-height: 621px;
    padding-left: 45px;
	margin-bottom: 81px;	
}
.total__content{
    transform: translateX(-20%);
    padding-top: 117px;
}
.total__article{
	background: #FAE8E4;
	max-width: 475px;
	max-height: 351px;	
    padding: 1px 0 45px 46px;
    margin-bottom: 38px;
}
.total__subtitle{
	margin-bottom: 33px;
}
.total__description{
	margin-bottom: 55px;
}
.total__btn-minus-plus,.total__btn-add{
	background: #FAE8E4;
}
.total__link{
	display: block;
	padding-left: 150px;
}*/
/*-------------------footer-------------------*/
/*.footer{
	display: flex;
    justify-content: flex-end;    
    padding-right: 33px;
    padding-bottom: 8px;
    margin-bottom: 100px;
}
.footer__txt{
	font: normal bold 12px/15px Montserrat;
}
*/

@media screen and (max-width: 768px) {
	body{		
		min-width: 319px;
    	overflow-x: scroll;
	}
	.header__language, 
	.main__description, .main__btn, .main__link,
	.main__footer,
	.footer{
		display: none;
	}
	.main, .header{	
		background: white;
	}	
	.header{
		padding-bottom: 0;
	}
	.header__title {
	    padding-top: 16px;
	    padding-left: 26px;
	}
	.header__logo{
		color: black;
		font: normal 500 30px/37px Montserrat;
		text-align: center;
		letter-spacing: 0.07em;
		margin-right: 0;
	}
	.header__menu-icon{
		width: 70px;
		height: 69px
	}
	/*-------------------main-------------------*/
	.main__content{		
		position: relative;	
	}
	.main__picture{
		width: 100%;
	}
	.main__photo{
		width: 100%;
		height:100%;/*?*/
		max-width: 768px;
		margin-right: 0;
	}
	.main__article {
		width: 100%;
		max-width: 768px;
		display: flex;
    	flex-direction: column;
    	align-items: center;		
		position: absolute;
    	bottom: 5%;
	}
	.main__title{
		font: normal bold 50px/51px Montserrat;	
    	padding-left: 22px;
	}
	.main__arrow-down{
		display: block;
	}
	/*-------------------clatch-------------------*/
	/*.clatch{
	    flex-direction: column;
	    align-items: center;
	    padding-top: 168px;
	}
	.clatch__photo {
	    width: 100%;
	}
	.clatch__article {
	    max-width: 320px;
	    max-height: 281px;
	    padding: 10px 20px 30px 30px;
	}
	.clatch__title, .total__title{
		font: normal bold 20px/20px Montserrat;
	}
	.clatch__subtitle, .total__subtitle{
		font: normal bold 10px/10px Montserrat;
	}
	.clatch__description, .total__description{
		font: normal normal 9px/13px Montserrat;
	}
	.clatch__btn-minus-plus, .clatch__link, 
	.total__btn-minus-plus{
		display: none;
	}
	.clatch__gray-point, .clatch__blue-point, 
	.clatch__green-point{
		width: 23.35px;
		height: 22.89px;
	}
	.clatch__pink-point{
		width: 29.39px;
		height: 29px;
	}
	.clatch__price{
		font: normal bold 20px/28px Montserrat;
		padding-top: 20px;
	}
	.clatch__btn-add, .total__btn-add{			
		border: 1px solid #000000;
		width: 260px;
		height: 37px;
		font: normal 500 13px Montserrat;
	}*/
	/*-------------------total-------------------*/
	/*.total{
		display: flex;
    	flex-direction: column;
    	align-items: center;	
    	padding: 50px 5px 0 5px;	
	}
	.total__photo{
		width: 100%;					
	}
	.total__content{
		transform: translateY(-10%);
    	padding-top: 0;
	}
	.total__article {
	    max-width: 305px;
	    max-height: 195px;
	    padding: 5px 15px 20px 15px;
	}
	.total__link{
		font: normal 500 15px/18px Montserrat;
		float: right;
    	max-width: 150px;
	}*/
}

