body{
	max-width: 1440px;
    margin: auto;
    background: #E5E5E5;
}/*-------header----------*/
.header, .header__menu-icon{
	height: 92px;
}
.header__title{
	color: white;
	font: normal 500 30px/100px Montserrat;
	letter-spacing: 0.07em;
	margin:0 230px 0 65px;
}
.header__language{
	color: white;
	font: normal 500 20px Montserrat;	
}
.header__menu-icon{
	height: 92px;
	width: 92px;	
	float: right;
}
/*-------main----------*/
.main, .header{	
	background: linear-gradient(to right, black 32%, white 32%);
}
.main__photo{
	max-width: 500px;
	margin: 100px 0px 100px 150px;	
}
.main__article{
	float: right;
	max-width: 475px;
	margin:100px 250px 0 0;
}
.main__title{
	font: normal bold 80px/82px Montserrat;
	margin-bottom: 20px;
}
.main__description{
	width: 467px;
	font: normal normal 15px/21px Montserrat;	
	margin-bottom: 35px;
}
.main__btn{
	background: white;
	border: 1.5px solid #000000;
	width: 203px;
	height: 44px;
	font: normal 500 13px Montserrat;
	margin-right: 30px;
}
.main__link{
	color: black;
	text-decoration: none;
	font: normal 500 13px Montserrat;
}
.main__arrow{
	margin-left: 19px;
}
.main__footer{
	margin-left: 65px;
    padding-bottom: 40px;
}
.main__btn_scroll{
	position: relative;
	left: 30%;
	background: white;
	border: none;	
}
.main__scroll{
	position: absolute;
    top: 22%;
    left: 45%;
}
/*-------clatch----------*/
.clatch{
	background: #FAE8E4;
}
/*.clatch__photo-blue{
	position: relative;
}
.clatch__photo-pink{
	position: absolute;
    top: 22%;
    left: 45%;
}*/
/*-------total----------*/
.total, .footer{
	background: #EBE3D8;
}
/*-------footer----------*/

